.app {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.row {
  display: flex;
}

.loopOptions {
  flex: 10;
}

.chart {
  flex: 12;
  padding: 0 20px;
  position: relative;
  max-width: 35%;
}

.trackOptions {
  flex: 10;
}

.createTrack {
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 2px;
  border: 2px solid;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  transition: opacity 300ms;
}

.createTrack:hover {
  opacity: 0.7;
}