.app {
  display: flex;
  padding: 20px;
}

.left {
  flex: 1;
}

.chart {
  flex: 2;
  padding: 0 10px;
}

.options {
  flex: 1;
}

.createTrack {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 2px;
  border: 2px solid;
  cursor: pointer;
  display: inline-block;
}

.createTrack:hover {
  opacity: 0.7;
}