.app {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  min-height: calc(100vh - 20px);
  justify-content: space-between;
}

.row {
  display: flex;
}

.left {
  padding-right: 20px;
  flex: 1;
  width: 0;
}

.chart {
  position: relative;
  width: 100%;
}

.right {
  flex: 1;
  padding-left: 20px;
  max-width: 500px;
}

.buttons {
  display: flex;
  margin-bottom: 30px;
}

.buttons > *:first-child {
  margin-right: 10px;
}

.buttons > *:last-child {
  margin-left: 10px;
}

@media screen and (max-width: 450px) {
  .row {
    flex-direction: column;
  }

  .left {
    width: 100%;
    padding-right: 0;
    padding-bottom: 30px;
  }

  .right {
    width: 100%;
    padding-left: 0;
  }
}