.container {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  letter-spacing: 4px;
  color: #666;
  font-style: italic;
  font-size: 18px;
}

.link {
  color: #666;
  font-size: 13px;
  text-decoration: none;
  font-style: italic;
  transition: opacity 300ms;
}

.link:hover {
  opacity: 0.7;
}

.line {
  flex: 1;
  border-bottom: 2px solid #66666666;
  margin: 0 20px;
}