@keyframes slide {
  0% { 
    left: 18px;
  }
  100% { 
    left: calc(100% - 26px);
  }
}

.arm {
  position: absolute;
  width: 4px;
  border-radius: 4px;
  bottom: 0;
  top: 0;
  background-color: #cccccccc;
  opacity: 0.7;
  animation: slide 4s linear infinite;
  animation-delay: 0.1s;
  left: 18px;
}