.container {
  position: relative;
}

.load {
  border: 2px solid;
  border-radius: 2px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0;
  cursor: pointer;
  transition: opacity 300ms;
}

.load:hover {
  opacity: 0.7;
}

.icon {
  color: white;
}

.icon > * {
  width: 15px;
  height: 15px;
  margin-bottom: -3px
}