* {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

path {
  transition: all 300ms;
}

label {
  font-size: 13px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

input {
  padding: 4px 10px;
  border-radius: 2px;
  border: 2px solid;
  width: calc(100% - 24px);
}

input:focus-visible {
  border-color: black !important;
  outline: none;
}