.createTrack {
  border-radius: 2px;
  border: 2px solid;
  cursor: pointer;
  transition: opacity 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.createTrack:hover {
  opacity: 0.7;
}

.createTrackText::before {
  content: 'Add track';
  font-size: 15px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .createTrackText::before {
    content: 'Add';
    padding: 5px 10px;
  }
}

@media screen and (max-width: 450px) {
  .createTrackText::before {
    content: 'Add track';
  }
}